/*******************
GENERAL
********************/

body {
  background-color: green;
	font-family:'Roboto', sans-serif;
	padding-top: 20px;
  }
  

/*no underlines for links*/
a {
  text-decoration: none; 
}


img {
  max-width: 100%;
}

#name {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: .25em;
  padding: 30px 30px 80px 60px;
  margin-left: 50px;
  }

/*******************
carousel - bootstrap
********************/
.container {
  max-width: 1000px;
   
}

.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

.carousel-indicators {
  bottom: 20px;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}
.carousel-inner .item img {
   margin: 0 auto 0 auto;
   display: block;
}

/*******************
HEADING
********************/

#header {
  float: left;
  margin: 20px 0;
  width: 100%; 
}

h3 {
  text-align: center;
  color: black;
  font-family: times;
  text-decoration: none;
}

/*******************
wrapper font - image gallery font
********************/
#imageGallery {
  font-family: verdana;
  font-size-adjust: 8;
  color: black;
}

#imageGallery {
  position: relative;
}

/*******************
navigation
********************/

nav {
  text-align:center;
  margin: 50px 50px 50px 90px;
  list-style: none;
  float: right;
  padding: 20px 30px 40px 60px;
}

nav ul {
  text-align: center;
  list-style: none;
  margin: 20px 10px 30px 20px;
  padding: 20px;
  text-decoration: bold;

}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  font-weight: normal;
  font-size: 1.35em;
  padding: 15px 10px;
}

/*******************
footer
********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}




/*******************
page: Home
********************/

#gallery {
  margin: 10px;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #fff;
  color: #fff;
  text-decoration: none;
  
}


#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
}







/*******************
page: About
********************/

.profile-photo {
  display:block;
  max-width:150px;
  margin:0 auto 30px;
  border-radius:100%;
}

#bio {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}


/*******************
page: family
*******************/

.newborn {
  display: block;
  max-width: 150px;
  margin: 0 auto 40px;
  padding-top: 20px;
}

#family {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}




/*******************
page: contact
********************/

#wrapper2 {
  text-align: center;
  padding-left: 20px;
}


.contact-info {
  list-style: none;
  padding:5px;
  margin:5px;
  font-size:0.9em;
}

.contact-info a {
  min-height: 20px;
  background-repeat: no-repeat;
  background-size:20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info .mail a {
  background-image:url('../img/mail.png');
  color: blue;
}
.contact-info .twitter a {
  background-image:url('../img/twitter.png');
  color: green;
}


/*******************
colors
********************/

/*site body */
body {
  background-color: white; 
  color: #999; 
}

/* header*/
header {
  background: white;
  overflow: hidden;
}

/*nav background on mobile*/
nav {
  background: white;
}

/*logo text*/
h1, h2 {
  color: green;
}

/*links*/
a {
  color: black;
}

/*nav link*/
nav a, nav a:visited {
  color: green; 
}

/*selected nav link*/
.selected, nav a:hover {
  color: #E5C100;
}

#player {
 position: absolute; 
 padding-left: 250px;
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 85%;
  height: 85%;
  position: fixed;
  top: 0;
  left: 80px;
  display: none;
  text-align: center;
}

#overlay img {
  margin-top: 10%;
}

#overlay p {
  color: black;
}