




/*******************
GENERAL
********************/

body {
	padding-top: 20px;
  }
  

/*no underlines for links*/
a {
  text-decoration: none; 
}


img {
  max-width: 100%;
}

#kg {
  float: left;
  font-size: .25em;
  padding: 30px 30px 80px 60px;
  margin-left: 50px;
  }


/*******************
HEADING
********************/

#header {
  float: left;
  margin: 20px 0;
  width: 100%; 
}

h3 {
  text-align: center;
  color: black;
  font-family: times;
  text-decoration: none;
}

h4 {
  text-align: center;
  color: black;
  font-family: times;
  
}


/*******************
navigation
********************/

.on a {
  text-decoration:underline;
}



nav {
  text-align:center;
  margin: 50px 50px 50px 90px;
  list-style: none;
  float: right;
  padding: 20px 30px 40px 60px;
}

nav ul {
  text-align: center;
  list-style: none;
  margin: 20px 10px 30px 20px;
  padding: 20px;
  text-decoration: bold;

}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  font-weight: normal;
  font-size: 1.35em;
  padding: 15px 10px;
}

/*******************
footer
********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  padding-bottom: 10px;
  color: black;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/*******************
page: portfolio 
with carousel - bootstrap
********************/
.container {
  max-width: 1000px;
   
}

.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

.carousel-indicators {
  bottom: 20px;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}
.carousel-inner .item img {
   margin: 0 auto 0 auto;
   display: block;
}

.my-thumbnails{
  list-style: none;
  text-align: center;
  padding-top: 40px;
}
.my-thumbnails li{
  display: inline-block;
}
.my-thumbnails li img{
  width: 250px;
}

.carousel-control .icon-prev {
    color: red; /* This makes the right arrow red */
    font-size: 65px;
}

.carousel-control .icon-next {
  color: red;
  font-size: 65px;
}

.modal-title{
  color: red;
}


/*******************
page: About
********************/

.profile-photo {
  display:block;
  max-width:150px;
  margin:0 auto 30px;
  border-radius:100%;
  padding-top: 20px;
}

#bio {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  padding-bottom: 30px;
}

/*******************
page: Shop
********************/
.shop {
  text-align: center;
}

/*******************
page: family
*******************/

.newborn {
  display: block;
  max-width: 150px;
  margin: 0 auto 40px;
  padding-top: 20px;
  border-radius:100%;
}

#family {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}




/*******************
page: contact
********************/

#wrapper2 {
  text-align: center;
  padding-left: 20px;
  text-decoration: center;
}

.form {
  text-align: center;
  padding-left: 600px;
}

.contact-info {
  list-style: none;
  padding:5px;
  margin:5px;
  font-size:0.9em;
  text-align: center;
}

.contact-info a {
  min-height: 20px;
  background-repeat: no-repeat;
  background-size:20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  text-align: center;
}

.contact-info .mail a {
  background-image:url('../img/mail.png');
  color: blue;
}
.contact-info .twitter a {
  background-image:url('../img/twitter.png');
  color: green;
}


/*******************
colors
********************/

/*site body */
body {
  background-color: white; 
  color: #999; 
}

/* header*/
header {
  background: white;
  overflow: hidden;
}

/*nav background on mobile*/
nav {
  background: white;
}

/*logo text*/
h1, h2 {
  color: green;
}

/*links*/
a {
  color: black;
}

/*nav link*/
nav a, nav a:visited {
  color: green; 
}

/*selected nav link*/
.selected, nav a:hover {
  color: #E5C100;
}

/*******************
font colors on pages
********************/
#imageGallery {
  font-family: verdana;
 
  color: black;
}

#imageGallery {
  position: relative;
}



/*************
testing from Mike the Frog tshirt site
*************/
.section.page h1 {
    font-size: 24px; 
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
    font-weight: normal;    
}
.section.page .shop-details h1 {
    text-align: left;
}
.section.page p {width: 375px; margin-left: auto; margin-right: auto; }
.section.page .shop-details h1 .price {color: #9d9f4e; padding-right: 10px; font-size: 34px;}
.section.shop {padding-bottom: 42px; background: #fff;}
.section.shop h2 {
    font-size: 24px; 
    color: #c0bfbe;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
    font-weight: normal;
}
.section.shop ul.products {margin: 0 0 -17px 0; padding: 0; width: 997px;}
.section.shop ul.products li {
    display: inline-block;
    list-style: none;
    border: 1px solid #e3e1e0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 202px;
    text-align: center;
    text-transform: lowercase;
    padding: 14px;
    background: #f0eeed;
    margin: 0 0 17px 17px;
    position: relative;
    left: -17px;
}
.section.shop ul.products li a:hover:after {
    content: '+';
    font-size: 50px; position: absolute; top: -10px; right: 25px; color: #f16702; vertical-align: top;    
}
.section.shop ul.products li a {
    background: white;
    display: block;
    padding: 30px 0 10px;
    text-decoration: none;
    color: #999;
    opacity: .9;
}
.section.shop ul.products li a:hover {
    opacity: 1;
    color: #666;
}
.section.shop ul.products li img {
    width: 190px;
}
.section.shop ul.products li p {
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

.shop-picture {
    float: left;
    width: 460px;
    text-align: center;
    border: 1px solid #d9d9d9;
    padding: 14px;
    background: #f0eeed;    
}
.shop-picture span {
    background: white;
    display: block;
    width: 100%;
    padding: 36px 0 61px;
}
.shop image {
  width: 292px;
  padding-left: 200px;
}



.shop-details {
    width: 460px;
    float: right;
}
.shop-details form {
    margin-left: 0;
}
#form {width: 375px; margin: 34px auto;}
#form tr {
    border: 1px solid #CCC;
    background: #f4f3f2;
}
#form table {width: 375px; margin-bottom: 16px;}
#form th {
    width: 85px;
    vertical-align: middle;
}
#form td {
    padding: 15px 15px;
}
#form td select,
#form td input,
#form td textarea {
    width: 100%;
}
#form input[type="submit"] {
    width: 375px;
    text-align: center;

    background: #9c9f4e;
    color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
}

