/*******************
GENERAL
********************/

body {
  	background-color: green;
	font-family: 'Shadows Into Light', sans-serif;
 }

/*div in html - this is where photos of art are*/
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

/*no underlines for links*/
a {
  text-decoration: none; 
}


img {
  max-width: 100%;
}




/*******************
HEADING
********************/

#header {
  float: left;
  margin: 0 0 30px 0;
  padding: 15px 40px 10px 10px;
  width: 100%; 
}


#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Shadows Into Light', sans-serif;
  margin: 20px 20px;
  padding: 10px 10px 20px 10px;
  font-size: 1.65em;
  font-weight: normal;
  line-height: 0.8em;
  
}

h2 {
  font-family: 'Indie Flower', sans-serif;
  font-size: 0.55em;
  margin: 5px 0 0;
  font-weight: normal;
}


/*******************
navigation
********************/

nav {
  text-align:center;
  padding 20px 0 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 20px;
}

nav li {
  display: inline;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}





/*******************
footer
********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}




/*******************
page: Home
********************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}


#gallery li {
  float: center;
  width: 45%;
  margin: 2.5%;
  background-color: #fff;
  color: #fff;
  
}


#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #fff;
}







/*******************
page: About
********************/

.profile-photo {
  display:block;
  max-width:150px;
  margin:0 auto 30px;
  border-radius:100%;
}




/*******************
page: contact
********************/

.contact-info {
  list-style: none;
  padding:0;
  margin:0;
  font-size:0.9em;
}

.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size:20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.mail a {
  background-image:url('../img/mail.png');
}
.contact-info li.twitter a {
  background-image:url('../img/twitter.png');
}









/*******************
colors
********************/

/*site body */
body {
  background-color: #fff; 
  color: #999; 
}

/*black header*/
header {
  background: #000;
  border-color: #599a68;

}

/*nav background on mobile*/
nav {
  background: #000;
}

/*logo text*/
h1, h2 {
  color: #fff;
}

/*links*/
a {
  color: #fff;
}

/*nav link*/
nav a, nav a:visited {
  color: #fff; 
}

/*selected nav link*/
nav a.selected, nav a:hover {
  color: green;
}
